/* common */

/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-black: #000;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Base styles */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: black;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* nav */

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000;
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  align-items: center;
}

/* logo */
.nav-logo {
  margin-left: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background-color: #000;
  color: white;
}

.long-paragraph {
  margin-top: 30px;
  padding: 5px 20vw;
  text-align: center;
  font-size: 2rem !important;
  color: black !important;
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100vh;
  background-color: white;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: grey;
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: white;
  border-top: 4px solid var(--main-black);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

/* for responsiveness */
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  /* nav */
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }

  .nav-list a {
    display: block;
    font-size: 1.2rem;
    padding: 2rem;
  }

  .long-paragraph {
    margin-top: 30px;
    padding: 5px 20vw;
    text-align: center;
    font-size: 1.5rem !important;
    color: black !important;
  }

  .welcome-section {
    margin-top: 15vh;
    justify-content: start;
  }

  .welcome-section > p {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
    color: grey;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }
}
